@keyframes line_vertical {
    from {
        height: 0px;
    }
    to {
        height: calc(100% + 8px);
    }
}
@keyframes line_horizontal {
    from {
        width: 0px;
    }
    to {
        width: 43px;
    }
}
@keyframes lineSkills {
    from {
        width: 0;
    }
    to {
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 50%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translate3d(-20%, 0, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translate3d(50px, 0, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
@keyframes fadeInCircle {
    from {
        width: 0px;
        height: 0px;
    }
    to {
        width: 36px;
        height: 36px;
    }
}
@keyframes typeWriter {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
@keyframes blinkTextCursor {
    from {
        border-right-color: transparent;
    }
    to {
        border-right-color: rgba(var(--text-color-promo), 0.75);
    }
}
@keyframes promoBtn {
    from {
        z-index: 0;
        transform: translateX(-150px);
    }
    to {
        z-index: 0;
        transform: translateX(0);
    }
}
@keyframes promoBtnMain {
    from {
        transform: rotateX(90deg);
    }
    to {
        transform: none;
    }
}
@keyframes themeIn {
    from {
        opacity: 0;
        transform: rotate(180deg);
    }
    to {
        opacity: 1;
        transform: rotate(0deg);
    }
}
.active {
    &.fadeInRight {
        opacity: 0;
        animation: fadeInRight 1.3s forwards;
    }
    &.fadeInLeft {
        opacity: 0;
        animation: fadeInLeft 1.3s forwards;
    }
    &.fadeInUp {
        animation: fadeInUp .5s ease-out forwards;
    }
    &.fadeIn {
        animation: fadeIn 1.5s ease-out forwards;
    }
    &.fadeOut {
        animation: fadeOut 1s ease-out forwards;
    }

    &.promoBtn {
        transform: translateX(-150px);
        animation: promoBtn 1s ease forwards;
        z-index: -1;
    }
    &.promoBtnMain {
        transform: rotateX(90deg);
        transform-style: preserve-3d;
        animation: promoBtnMain 1.5s ease forwards;
        z-index: 1;
    }

    &.lineSkills {
        animation: lineSkills 2s ease-out forwards;
    }
    &.line_horizontal {
        &:before {
            animation: line_horizontal 1s linear forwards;
            z-index: 1;
        }
    }
    &.fadeInCircle {
        @include before_circle;
        &:before {
            width: 0;
            height: 0;
            animation: fadeInCircle 1s ease-out forwards;
        }
    }
}

// delay time
.active {
    &.s0-3 {
        animation-delay: .3s;
    }
    &.s0-5 {
        animation-delay: .5s;
    }
    &.s0-7 {
        animation-delay: 0.7s;
        &:before {
            animation-delay: 0.7s;
        }
    }
    &.s2 {
        animation-delay: 2s;
    }
    &.s3 {
        animation-delay: 3s;
    }
    &.s2-7 {
        animation-delay: 2.7s;
        &:before {
            animation-delay: 2.7s;
        }
    }
    &.s4 {
        animation-delay: 4s;
    }
    &.s5 {
        animation-delay: 5s;
    }
    &.s7-5 {
        animation-delay: 7.5s;
    }
    &.s8 {
        animation-delay: 8s;
    }
}
