@mixin before_circle {
    position: relative;
    z-index: 2;
    &:before {
        content: '';
        position: absolute;
        width: 36px;
        height: 36px;
        top: -26%;
        left: 0;
        border-radius: 100%;
        background: $main-color;
        z-index: -1;
    }
}