.exp {
    padding-top: 120px;
    &__wrapper {
        padding: 60px 65px 0 65px;
        display: grid;
        grid-template-columns: repeat(2, 425px);
        justify-content: space-between;
    }
    &__column {
        &-title {
            position: relative;
            padding-left: 35px;
            &:before {
                content: '';
                position: absolute;
                width: 15px;
                height: 15px;
                background-color: $main-color;
                border-radius: 100%;
                left: -7px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        ul {
            list-style-type: none;
            li {
                position: relative;
                &:after {
                    content: '';
                    width: 1px;
                    position: absolute;
                    top: -8px;
                    left: 0;
                    background-color: #000;
                }
                &.active {
                    &:first-child {
                        &:after {
                            animation: line_vertical 2s ease-out 1 forwards;
                        }
                    }
                    &:nth-child(2) {
                        &:after {
                            animation: line_vertical 2s ease-out 1.9s 1 forwards;
                        }
                    }
                    &:nth-child(3) {
                        &:after {
                            animation: line_vertical 2s ease-out 4.9s 1 forwards;
                        }
                    }
                }
            }
        }
    }
    &__item {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            height: 1px;
            width: 0px;
            top: 62px;
            background-color: #000;
        }
        &-head {
            position: relative;
            padding: 45px 0 0 100px;
            opacity: 0;
        }
        &-descr {
            padding-left: 43px;
            margin-top: 12px;
            opacity: 0;
        }
        &-icon {
            @include before_circle;
            position: absolute;
            top: 53px;
            left: 43px;
            img {
                opacity: 0;
                margin-top: 5px;
                margin-left: 17px;
            }
        }
    }
}