@media (max-width: 1400px) {
    .sidepanel {
        display: none;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .about {
        &_grid {
            grid-template-columns: 400px 520px;
            column-gap: 40px;
        }
        &__skills {
            grid-template: repeat(2, minmax(115px, auto))/repeat(2, 250px);
            column-gap: 20px;
        }
        &__item {
            grid-template-columns: 40px 195px;
            column-gap: 15px;
        }
    }
    .exp {
        &__wrapper {
            padding: 60px 25px 0 25px;
        }
    }
    .skills {
        &__items {
            margin-top: 45px;
            grid-template: repeat(3, 270px) / repeat(3, 270px);
        }
        &__levels {
            margin-top: 90px;
            grid-template: repeat(3, 62px) / repeat(2, 350px);
            justify-content: space-between;
            padding: 0 70px;
            row-gap: 50px;
        }
    }
    .portfolio {
        &__items {
            grid-template-columns: repeat(auto-fit, 280px);
            gap: 40px;
            &:hover {
                background-color: #ffffff;
            }
            .vertical, .horizontal {
                grid-row: unset;
                grid-column: unset;
            }
        }
    }
    .contacts {
        &__grid {
            padding: 0;
            grid-template-columns: 400px 1fr;
            column-gap: 30px;
        }
        &__form {
            grid-template: 46px 190px 45px / repeat(2, 1fr);
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .promo__title {
        font-size: calc(3vw + 9px);
    }
    .about {
        &_grid {
            grid-template-columns: 300px 380px;
            column-gap: 40px;
        }
        &__skills {
            grid-template-columns: 380px;
            grid-auto-rows: minmax(115px, auto);
        }
        &__item {
            grid-template-columns: 40px 320px;
            column-gap: 20px;
        }
    }
    .exp {
        padding-top: 90px;
        &__wrapper {
            padding: 40px 15px 0 15px;
            grid-template-columns: repeat(2, 330px);
        }
    }
    .skills {
        padding-top: 90px;
        &__items {
            margin-top: 45px;
            grid-template: repeat(3, 243px) / repeat(3, 243px);
            gap: 10px;
        }
        &__levels {
            padding: 0 15px;
            column-gap: 0;
            grid-template: repeat(3,62px)/repeat(2,320px);
        }
    }
    .prices {
        &__items {
            margin-top: 40px;
            padding: 0 30px;
            grid-template-columns: repeat(auto-fit, 300px);
        }
    }
    .contacts {
        padding: 60px 0 45px 0;
        &__grid {
            grid-template-columns: 1fr;
        }
        &__photo {
            display: none;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .promo__title {
        // font-size: 28px;
        line-height: 38px;
    }
    .about {
        padding-top: 40px;
        &_grid {
            grid-template: 400px auto auto/1fr;
        }
        &__photo {
            grid-row: 1/2;
        }
        &__skills {
            grid-template-columns: repeat(2, 260px);
        }
        &__item {
            grid-template-columns: 40px 210px;
            column-gap: 20px;
        }
    }
    .exp {
        padding-top: 60px;
        &__wrapper {
            grid-template-columns: 1fr;
            row-gap: 30px;
        }
    }
    .skills {
        padding-top: 45px;
        &__items {
            margin-top: 30px;
            grid-template: repeat(4, 270px) / repeat(2, 270px);
            gap: 10px;
        }
        &__levels {
            grid-template-columns: 1fr;
        }
    }
    .portfolio {
        padding-top: 40px;
        &__items {
            margin-top: 40px;
            gap: 20px;
        }
    }
    .prices {
        padding-top: 40px;
        .title_fs16-center {
            margin-bottom: 25px;
        }
        &__items {
            margin-top: 20px;
            padding: 0;
            justify-content: center;
            grid-template-columns: 1fr;
        }
    }
}

@media (max-width: 576px) {
    .title_fs36 {
        margin-top: 10px;
        font-size: 23px;
        line-height: 36px;
    }
    .divider {
        margin: 15px auto 20px auto;
    }
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .up {
        bottom: 4px;
        &.active {
            opacity: 0.3;
            right: 4px;
            &:hover {
                opacity: 0.3;
            }
        }
    }
    .promo {
        // background: url('../img/main_bg.jpg') no-repeat 58%/cover;
        &__title {
            // font-size: 22px;
        }
        &__btns {
            margin-top: 30px;
        }
    }
    .humburger {
        right: 20px;
    }
    .menu {
        &__block {
            width: 250px;
        }
        &__list {
            padding-left: 55px;
        }
    }
    .about {
        padding-top: 40px;
        &__title {
            margin-bottom: 20px;
        }
        &_grid {
            grid-template: 340px auto auto/1fr;
        }
        &__skills {
            grid-template-columns: 1fr;
        }
        &__me {
            .divider {
                margin: 15px auto 20px 0;
            }
        }
        
    }
    .skills {
        &__items {
            grid-template-columns: 270px;
            row-gap: 20px;
        }
        &__levels {
            margin-top: 48px;
            row-gap: 48px;
        }
    }
    .contacts {
        padding: 40px 0 50px 0;
        .divider {
            margin: 15px auto 20px 0;
        }
        &__form {
            grid-template: 45px 45px 143px 20px 45px/ 1fr;
            column-gap: 0;
        }
        &__input {
            grid-column: 1/2;
        }  
        &__file {
            display: none;
        }
        &__policy {
            input {
                margin-right: 8px;
            }
            span {
                font-size: 10px;
            }
        }
    }
    .modal {
        width: 300px;
        padding: 25px 10px;
    }
}