.sidepanel {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    top: 230px;
    left: 3%;
    height: 340px;
    z-index: 3;
    top: 230px;
    &__link {
        transition: 0.4s all;
        &:hover {
            transition: 0.4s all;
            transform: rotate(90deg);
        }
    }
    &__divider {
        width: 2px;
        height: 70px;
        background-color:#000;
    }
    &__text {
        img {
            height: 150px;
        }
    }
}